.square {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-japan {
    height: 80px;
}

.logo-japan__circle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

.windows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.windows__cube {
    width: 45px;
    height: 45px;
}

.windows__cube1 {
    background-color: orangered;
}

.windows__cube2 {
    background-color: greenyellow;
}

.windows__cube3 {
    background-color: skyblue;
}

.windows__cube4 {
    background-color: yellow;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 640px;
    background: white;
    border-radius: 4px;
    position: relative;
    padding: 20px;
}

.close {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #107010;
    color: white;
    border: none;
    cursor: pointer;
}

.load {
    width: 100%;
    height: 30px;
    background: gray;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.load-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    pointer-events: none;
}

.load-text--black {
    color: black;
    z-index: 1;
}

.redbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: red;
    z-index: 2;
    overflow: hidden;
}

.load-text--white {
    color: white;
    width: 600px;
}